doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title BackNode
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='icon', type='image/ico', href='/img/favicon.ico')

    // responsize lib
    link(href='lib/responsize/dist/responsize.css', rel='stylesheet')
    script(src='lib/responsize/dist/responsize.js')

    // cloud-explorer
    script(src='lib/bower-cloud-explorer/app/scripts/cloud-explorer.js')

    // CKEditor
    script(src='lib/ckeditor/ckeditor.js')

    // backnode includes
    link(href='backnode.css', rel='stylesheet')
    script(src='backnode.js')

    // font-awesome
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet')

  body
    #tools
      #menu
        #edit-mode Mode edition
          #editor-switch
        ul
          li#open
            i(class='fa fa-upload')
            | Import file
          li#cancel
            i(class='fa fa-reply')
            | Cancel
          li#save
            i(class='fa fa-save')
            | Save
        #logo
    // backnode app
    include src/jade/App.jade

    // Cloud-Explorer
    iframe(
      id='ce-js',
      frameborder='no',
      scrolling='no',
      allowfullscreen='yes',
      src='lib/bower-cloud-explorer/app/cloud-explorer.html',
      data-ce-unifile-url='http://localhost:6969/api/1.0/'
      data-ce-path='lib/bower-cloud-explorer/app/')

    script.
      new backnode.App(document.getElementById('stage'));